arxiv
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-qdrant
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite
langsmith
pydantic
PyMuPDF
pypdf
python-dotenv
qdrant-client
streamlit
tavily-python
ipykernel
